@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");
:root {
  --text: #020303;
}
:root {
  --background: #f8fbfc;
}
:root {
  --primary: #dcbcb2;
}
:root {
  --secondary: #d6dfb9;
}
:root {
  --accent: #8c5240;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  justify-content: center;
  align-items: center;
  background-image: url("/img/fondoRegistrarse.jpg");
  background-size: cover;
  min-height: 100vh;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  position: relative;
  max-width: 80px;
}
header h2 {
  flex: 1;
  text-align: center;
}
.carrito {
  display: flex;
  max-width: 35px;
  height: 35px;
  margin-right: 10px;
}
.hamburger {
  position: relative;
  display: block;
  width: 50px;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
.hamburger .barra,
.hamburger::after,
.hamburger::before {
  width: 100%;
  height: 5px;
  background-color: var(--accent);
  margin: 6px 0px;
  transition: 0.3s;
  content: "";
  display: block;
}
.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -7px);
}
.hamburger.is-active .barra {
  opacity: 0;
}
.movil-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: var(--background);
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  display: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.movil-nav.is-active {
  display: block;
}
.movil-nav a {
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  display: block;
  text-align: center;
  margin-bottom: 16px;
  padding: 12px 16px;
  background-color: var(--accent);
  color: var(--secondary);
  text-decoration: none;
}
.movil-nav a:hover {
  background-color: #a37466;
}
.carrito-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 300px;
  padding: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: #d6dfb9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #8c5240;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
}
.wrapper h1 {
  text-align: center;
}
#ttlFormulario {
  text-align: center;
  color: #8c5240;
  margin-bottom: 20px;
}
form {
  color: var(--accent);
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

select,
input,
fieldset {
  margin-bottom: 16px;
}

.formIzquierda {
  width: 48%;
}
.formDerecha {
  width: 48%;
}
form input,
form select {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: var(--accent);
  padding: 20px 45px 20px 20px;
  box-sizing: border-box;
}
input::placeholder {
  color: var(--accent);
}
.btn,
.btnSubirFoto {
  width: 100%;
  height: 45px;
  margin-bottom: 16px;
  background-color: var(--accent);
  border: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #f8fbfc;
}
#txtnegocio {
  margin-bottom: 16px;
  border-radius: 40px;
}
#txtnegocio::placeholder {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: var(--accent);
}
